body.sectionHomePage div.dashboard div.homepage-component.events > div > div > article > a,
body.sectionHomePage div.dashboard div.homepage-component.events > div > div > article > span,
body.sectionHomePage div.dashboard div.homepage-component.eventsForMyChild > div > div > article > a,
body.sectionHomePage div.dashboard div.homepage-component.eventsForMyChild > div > div > article > span {
  
    text-decoration: none !important;
    cursor: default !important;
    pointer-events: none !important;
    background: transparent !important;
}
